<h2>About me</h2>
<p>My name is <em>Mark Harmsen Rivera<em>. I was born in Arequipa, Perú.
<p>
<% if Date.today.tuesday? %>

<p>I like Tuesdays!! </p>

	<% end %>

	<h3>Today</h3>
	<h3>Today is: </h3>
	<%= Date.today %>