<h1> <%= @blogpost[@index].title %> </h1>
<body>
<p><%= @blogpost[@index].date.strftime("%F") %></b><br>
<b><%= @blogpost[@index].content %></b><br>
<br><br>
<a href="/posts">Go back to posts</a>
</body>
