<h1>Part 1</h1>

<form action="/input_word_form" method="POST">
  Can you put a word please?:<br>
  <input type="text" name="input_word" placeholder="e.g. Bridge"><br>
  <br><button type="input_word">Input word</button>
</form>

<!-- <a href="/posts">Go back to posts</a> -->
