<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie trivia!</title>
    <style>
    body {font: 1.2em arial, sans-serif;}
    </style>
  </head>
  <body>
<h1> Part 2. </h1>
<p>Which one was release on <%= @year %></p><br>
  <% for a in 0..8 %><div>
    <img src="<%= @poster_url[a] %>" width="200px">
    <p style="color: white"><%= @movies9[a]%></p>
    </div>
  <%end%>

    </body>
</html>
