<body>
  <h1> Log in to your account:</h1>
<form action="/user_submit" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="user name"><br>
  Password:<br>
  <input type="password" name="password" placeholder="password">
  <br><button type="submit"> Submit Info </button>
</form>
</body>
